.section-hero {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: var(--navbar-height);
}

.section-hero.hero {
  background-image: url('./images/hero.png');
}

.section-hero.course {
  background-image: url('./images/courses-hero.jpg');
}

.container {
  padding: var(--spacing-md);
}

.header {
  color: var(--dark);
  font-size: var(--header);
}

.section-hero h1 {
  font-size: var(--header);
}

.navbar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent !important;
  z-index: 10;
}

.light-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.563);
  z-index: 1;
}

.light-overlay-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.87);
  z-index: 1;
}

.highlight-box {
  max-width: 600px;
  width: 100%;
}

.navbar-logo {
  height: var(--navbar-height);
}

.menu-overlay {
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.menu-overlay.open {
  transform: translateY(0);
  opacity: 1;
}

a.menu-link {
  transition: color 0.3s ease, transform 0.3s ease;
  text-decoration: none;
  color: var(--dark);
}

.menu-link:hover {
  color: var(--grey);
  transform: translateX(5px);
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 6rem;
}

.pagefix {
  padding: 10rem 10rem 0 10rem;
}

.menu-float {
  position: absolute;
  top: var(--spacing-sm);
  right: var(--spacing-md);
  z-index: 1051;
  font-size: var(--btn-font-size);
  padding: var(--spacing-sm) var(--spacing-md);
  height: var(--btn-height);
  border-radius: clamp(0.3rem, 1vw, 0.6rem);
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.dropdown-menu {
  padding: 0.5rem 1rem;
}

@media (max-width: 768px) {
  .navbar .container {
    flex-direction: column !important;
    align-items: center !important;
  }

  .container {
    gap: var(--spacing-sm);
  }
  .section-hero {
    padding-top: calc(var(--navbar-height) + var(--spacing-sm));
  }

  .highlight-box {
    width: 90% !important;
  }

  .section-hero h1 {
    font-size: var(--header);
  }

  .navbar-logo {
    height: var(--logo);
  }

  .pagefix {
    padding: 16rem 1rem 0 1rem;
  }
}

@media (max-width: 576px) {
  .navbar .form-control {
    min-width: 20px !important;
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
  }

  .navbar .btn {
    padding: 0.25rem 0.5rem !important;
    font-size: 0.8rem;
  }

  .navbar .dropdown-toggle {
    font-size: 0.8rem;
  }

  .wrapper article.card {
    width: 90%;
    max-width: 720px;
  }
}
