.header {
  color: var(--haavard-dark);
}

.navbar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent !important;
  z-index: 10;
}

.section-hero {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.section-hero.hero {
  background-image: url('../public/images/hero.png');
}

.section-hero.courses {
  background-image: url('../public/images/courses-hero.jpg');
}

.white-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.563);
  z-index: 1;
}

.hero .container {
  position: relative;
  z-index: 2;
}

.navbar-logo {
  height: 50px;
}

.menu-overlay {
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.menu-overlay.open {
  transform: translateY(0);
  opacity: 1;
}

a.menu-link {
  transition: color 0.3s ease, transform 0.3s ease;
  text-decoration: none;
  color: var(--haavard-dark);
}

.menu-link:hover {
  color: var(--haavard-gold);
  transform: translateX(5px);
}
