.navbar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent !important;
  z-index: 10;
}

.hero {
  position: relative;
  height: 100vh;
  background-image: url('/images/hero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.white-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.563);
  z-index: 1;
}

.hero .container {
  position: relative;
  z-index: 2;
}

.navbar-logo {
  height: 200px;
}

.menu-overlay {
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.menu-overlay.open {
  transform: translateY(0);
  opacity: 1;
}
